@font-face {
  font-family: 'Bebas Neue';
  src: url("/fonts/BebasNeue.woff2") format("woff2");
}

@font-face {
  font-family: 'Montserrat Light';
  src: url("/fonts/Montserrat-Light.woff2") format("woff2");
}

@font-face {
  font-family: 'Montserrat Regular';
  src: url("/fonts/Montserrat-Regular.woff2") format("woff2");
}

@font-face {
  font-family: 'GothamRounded-Bold';
  src: url("/fonts/GothamRounded-Bold.eot");
  src: url("/fonts/GothamRounded-Bold.eot?#iefix") format("embedded-opentype"), url("/fonts/GothamRounded-Bold.woff2") format("woff2"), url("/fonts/GothamRounded-Bold.woff") format("woff"), url("/fonts/GothamRounded-Bold.ttf") format("truetype"), url("/fonts/GothamRounded-Bold.svg#Gotham-Bold") format("svg");
}

@font-face {
  font-family: 'GothamRounded-Book';
  src: url("/fonts/GothamRounded-Book.eot");
  src: url("/fonts/GothamRounded-Book.eot?#iefix") format("embedded-opentype"), url("/fonts/GothamRounded-Book.woff2") format("woff2"), url("/fonts/GothamRounded-Book.woff") format("woff"), url("/fonts/GothamRounded-Book.ttf") format("truetype"), url("/fonts/GothamRounded-Book.svg#Gotham-Medium") format("svg");
}

@font-face {
  font-family: 'GothamRounded-Light';
  src: url("/fonts/GothamRounded-Light.eot");
  src: url("/fonts/GothamRounded-Light.eot?#iefix") format("embedded-opentype"), url("/fonts/GothamRounded-Light.woff2") format("woff2"), url("/fonts/GothamRounded-Light.woff") format("woff"), url("/fonts/GothamRounded-Light.ttf") format("truetype"), url("/fonts/GothamRounded-Light.svg#Gotham-Light") format("svg");
}

.auth {
  width: 100%;
  padding-bottom: 50px;
}

.auth__header {
  width: 100%;
  height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: transparent;
}

.header__title {
  font-size: 25px;
  cursor: pointer;
}

.auth__title {
  margin: 30px 0 40px 0;
  font-size: 40px;
  text-align: center;
}

.auth__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.auth__form-content {
  width: 100%;
  padding: 30px 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #FDBB2F;
}

.auth__form-group {
  width: 100%;
  margin-bottom: 20px;
}

.auth__form-group--checkbox {
  padding-top: 10px;
}

.auth__form-label-wrapper {
  margin-bottom: 5px;
  padding-left: 2px;
}

.auth__form-label {
  color: #7C5D24;
  font-size: 15px;
}

.auth__form-input {
  width: 100%;
  height: 50px;
  padding: 0 10px;
  border: none;
  background-color: #FFD15E;
  color: #000000;
  font-size: 18px;
  font-family: "GothamRounded-Bold", sans-serif;
  outline: none;
}

.auth__form-input:-webkit-autofill,
.auth__form-input:-webkit-autofill:hover,
.auth__form-input:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0 100px #FFD15E inset !important;
}

.auth__form-checkbox-label {
  position: relative;
  padding: 4px 0 0 35px;
  font-size: 15px;
  cursor: pointer;
}

.auth__form-checkbox-label:hover .auth__form-checkbox-checkmark {
  background-color: #FFD15E;
}

.auth__form-checkbox {
  position: absolute;
  display: none;
  cursor: pointer;
}

.auth__form-checkbox:checked ~ .auth__form-checkbox-checkmark {
  background-color: #FFD15E;
}

.auth__form-checkbox:checked ~ .auth__form-checkbox-checkmark:after {
  opacity: 1;
}

.auth__form-checkbox-checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #FFD15E;
  -webkit-transition: background-color 0.1s linear;
  transition: background-color 0.1s linear;
}

.auth__form-checkbox-checkmark:after {
  content: '';
  position: absolute;
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border-width: 0 3px 3px 0;
  border-style: solid;
  border-color: #000000;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  opacity: 0;
  -webkit-transition: opacity 0.1s linear;
  transition: opacity 0.1s linear;
}

.auth__error-group,
.auth__status-group {
  margin-top: 30px;
  padding: 0 30px;
}

.auth__error-list,
.auth__status-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.auth__error {
  margin-bottom: 3px;
  color: #D2495F;
  font-size: 14px;
}

.auth__status {
  margin-bottom: 3px;
  color: #38643C;
  font-size: 14px;
}

.auth__button {
  position: relative;
  width: 175px;
  height: 50px;
  margin: 30px 0 40px 0;
  cursor: pointer;
  -webkit-transition: -webkit-filter 0.1s linear;
  transition: -webkit-filter 0.1s linear;
  transition: filter 0.1s linear;
  transition: filter 0.1s linear, -webkit-filter 0.1s linear;
}

.auth__button:hover {
  -webkit-filter: brightness(0.85);
          filter: brightness(0.85);
}

.auth__button-hollow {
  position: absolute;
  width: 100%;
  height: 100%;
  border: 3px solid #000000;
  border-radius: 6px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 1;
}

.auth__button-full {
  position: absolute;
  top: 6px;
  left: 6px;
  width: 100%;
  height: 100%;
  border-radius: 6px;
  background-color: #EB7D3D;
}

.auth__links {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.auth__link-group {
  margin-bottom: 30px;
  text-align: center;
}

.auth__link {
  text-decoration: underline;
}

.auth__link:link,
.auth__link:visited,
.auth__link:hover,
.auth__link:active {
  color: #000000;
}

.register {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.register__logo {
  width: calc(100% - 400px);
  height: 100%;
  background-image: url("/images/troubadours.jpg");
  background-origin: content-box;
  background-repeat: no-repeat;
  background-size: cover;
}

.register__form {
  width: 400px;
  padding: 75px 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.register__form-title {
  width: 100%;
  margin-bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 75px;
  font-family: "GothamRounded-Bold", Verdana;
}

.register__form-content {
  width: 275px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.register__form-group {
  margin-bottom: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.register__form-group--link {
  margin-top: 20px;
}

.register__form-subtitle {
  width: 100%;
  margin-bottom: 10px;
  font-size: 26px;
  font-family: "GothamRounded-Bold", Verdana;
}

.register__form-input {
  width: 100%;
  height: 35px;
  padding: 5px;
  background-color: #ffffff;
  color: #000000;
  font-size: 15px;
  font-family: "GothamRounded-Book";
  border: 1px solid rgba(119, 119, 128, 0.33);
  outline: none;
}

.register__form-input--error {
  border-color: #fe664e;
}

.register__form-input::-webkit-input-placeholder {
  color: #777780;
  font-family: "GothamRounded-Light";
}

.register__form-input:-ms-input-placeholder {
  color: #777780;
  font-family: "GothamRounded-Light";
}

.register__form-input::-ms-input-placeholder {
  color: #777780;
  font-family: "GothamRounded-Light";
}

.register__form-input::placeholder {
  color: #777780;
  font-family: "GothamRounded-Light";
}

.register__form-text {
  font-size: 15px;
  font-family: "GothamRounded-Light";
}

.register__form-link {
  font-size: 15px;
  font-family: "GothamRounded-Light";
}

.register__button-group {
  margin-top: 30px;
}

.register__button {
  width: 125px;
  height: 50px;
  padding-top: 5px;
  font-size: 25px;
  font-family: "GothamRounded-Bold";
  border: 0;
  opacity: 0.7;
  cursor: pointer;
  -webkit-transition: all 0.1s linear;
  transition: all 0.1s linear;
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .register__button {
    opacity: 1;
  }
}

@media only screen and (min-device-width: 375px) and (max-device-width: 767px) {
  .register__button {
    opacity: 1;
  }
}

.register__button:hover {
  opacity: 1;
}

.register__button_submit {
  background-color: #64ee8a;
  color: #000000;
}

.register__error-group,
.register__status-group {
  margin-top: 20px;
}

.register__error-list,
.register__status-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.register__error {
  margin-bottom: 3px;
  color: #fe664e;
  font-size: 13px;
  font-family: "GothamRounded-Light";
}

.register__status {
  margin-bottom: 3px;
  color: #7cbc42;
  font-size: 13px;
  font-family: "GothamRounded-Light";
}

.email {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.email__logo {
  width: calc(100% - 400px);
  height: 100%;
  background-image: url("/images/troubadours.jpg");
  background-origin: content-box;
  background-repeat: no-repeat;
  background-size: cover;
}

.email__form {
  width: 400px;
  padding: 75px 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.email__form-title {
  width: 100%;
  margin-bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 75px;
  font-family: "GothamRounded-Bold", Verdana;
}

.email__form-content {
  width: 275px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.email__form-group {
  margin-bottom: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.email__form-subtitle {
  width: 100%;
  margin-bottom: 10px;
  font-size: 26px;
  font-family: "GothamRounded-Bold", Verdana;
}

.email__form-input {
  width: 100%;
  height: 35px;
  padding: 5px;
  background-color: #ffffff;
  color: #000000;
  font-size: 15px;
  font-family: "GothamRounded-Book";
  border: 1px solid rgba(119, 119, 128, 0.33);
  outline: none;
}

.email__form-input--error {
  border-color: #fe664e;
}

.email__form-input::-webkit-input-placeholder {
  color: #777780;
  font-family: "GothamRounded-Light";
}

.email__form-input:-ms-input-placeholder {
  color: #777780;
  font-family: "GothamRounded-Light";
}

.email__form-input::-ms-input-placeholder {
  color: #777780;
  font-family: "GothamRounded-Light";
}

.email__form-input::placeholder {
  color: #777780;
  font-family: "GothamRounded-Light";
}

.email__button-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 30px;
}

.email__button {
  width: 125px;
  height: 50px;
  padding-top: 5px;
  font-size: 25px;
  font-family: "GothamRounded-Bold";
  border: 0;
  opacity: 0.7;
  cursor: pointer;
  -webkit-transition: all 0.1s linear;
  transition: all 0.1s linear;
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .email__button {
    opacity: 1;
  }
}

@media only screen and (min-device-width: 375px) and (max-device-width: 767px) {
  .email__button {
    opacity: 1;
  }
}

.email__button:hover {
  opacity: 1;
}

.email__button_cancel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #fe664e;
  color: #000000;
  text-decoration: none;
}

.email__button_submit {
  background-color: #64ee8a;
  color: #000000;
}

.email__error-group,
.email__status-group {
  margin-top: 20px;
}

.email__error-list,
.email__status-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.email__error {
  margin-bottom: 3px;
  color: #fe664e;
  font-size: 13px;
  font-family: "GothamRounded-Light";
}

.email__status {
  margin-bottom: 3px;
  color: #7cbc42;
  font-size: 13px;
  font-family: "GothamRounded-Light";
}

.reset {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.reset__logo {
  width: calc(100% - 400px);
  height: 100%;
  background-image: url("/images/troubadours.jpg");
  background-origin: content-box;
  background-repeat: no-repeat;
  background-size: cover;
}

.reset__form {
  width: 400px;
  padding: 75px 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.reset__form-title {
  width: 100%;
  margin-bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 75px;
  font-family: "GothamRounded-Bold", Verdana;
}

.reset__form-content {
  width: 275px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.reset__form-group {
  margin-bottom: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.reset__form-group--link {
  margin-top: 20px;
}

.reset__form-subtitle {
  width: 100%;
  margin-bottom: 10px;
  font-size: 26px;
  font-family: "GothamRounded-Bold", Verdana;
}

.reset__form-input {
  width: 100%;
  height: 35px;
  padding: 5px;
  background-color: #ffffff;
  color: #000000;
  font-size: 15px;
  font-family: "GothamRounded-Book";
  border: 1px solid rgba(119, 119, 128, 0.33);
  outline: none;
}

.reset__form-input--error {
  border-color: #fe664e;
}

.reset__form-input::-webkit-input-placeholder {
  color: #777780;
  font-family: "GothamRounded-Light";
}

.reset__form-input:-ms-input-placeholder {
  color: #777780;
  font-family: "GothamRounded-Light";
}

.reset__form-input::-ms-input-placeholder {
  color: #777780;
  font-family: "GothamRounded-Light";
}

.reset__form-input::placeholder {
  color: #777780;
  font-family: "GothamRounded-Light";
}

.reset__button-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 30px;
}

.reset__button {
  width: 125px;
  height: 50px;
  padding-top: 5px;
  font-size: 25px;
  font-family: "GothamRounded-Bold";
  border: 0;
  opacity: 0.7;
  cursor: pointer;
  -webkit-transition: all 0.1s linear;
  transition: all 0.1s linear;
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .reset__button {
    opacity: 1;
  }
}

@media only screen and (min-device-width: 375px) and (max-device-width: 767px) {
  .reset__button {
    opacity: 1;
  }
}

.reset__button:hover {
  opacity: 1;
}

.reset__button_cancel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #fe664e;
  color: #000000;
  text-decoration: none;
}

.reset__button_submit {
  background-color: #64ee8a;
  color: #000000;
}

.reset__error-group {
  margin-top: 20px;
}

.reset__error-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.reset__error {
  margin-bottom: 3px;
  color: #fe664e;
  font-size: 13px;
  font-family: "GothamRounded-Light";
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-text-size-adjust: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

html {
  width: 100%;
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
  background-image: url("/images/backgrounds/sparse.png");
  background-repeat: repeat;
  margin: 0;
  padding: 0;
  color: #000000;
  font-family: "GothamRounded-Bold", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button:focus {
  outline: 0;
}

#app {
  width: 100%;
  height: 100%;
}

