@font-face {
  font-family: 'Bebas Neue';
  src: url("/fonts/BebasNeue.woff2") format("woff2");
}

@font-face {
  font-family: 'Montserrat Light';
  src: url("/fonts/Montserrat-Light.woff2") format("woff2");
}

@font-face {
  font-family: 'Montserrat Regular';
  src: url("/fonts/Montserrat-Regular.woff2") format("woff2");
}

@font-face {
  font-family: 'Bebas Neue';
  src: url("/fonts/BebasNeue.woff2") format("woff2");
}

@font-face {
  font-family: 'Montserrat Light';
  src: url("/fonts/Montserrat-Light.woff2") format("woff2");
}

@font-face {
  font-family: 'Montserrat Regular';
  src: url("/fonts/Montserrat-Regular.woff2") format("woff2");
}

.login {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.login__logo {
  width: calc(100% - 400px);
  height: 100%;
  background-image: url("/images/troubadours.jpg");
  background-origin: content-box;
  background-repeat: no-repeat;
  background-size: cover;
}

.login__form {
  width: 400px;
  padding: 75px 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.login__form-title {
  width: 100%;
  margin-bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 75px;
  font-family: "Bebas Neue", Verdana;
}

.login__form-content {
  width: 275px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.login__form-group {
  margin-bottom: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.login__form-subtitle {
  width: 100%;
  margin-bottom: 10px;
  font-size: 26px;
  font-family: "Bebas Neue", Verdana;
}

.login__form-group--link {
  margin-top: 20px;
}

.login__form-input {
  width: 100%;
  height: 35px;
  padding: 5px;
  background-color: #ffffff;
  color: #000000;
  font-size: 15px;
  font-family: "Montserrat Regular";
  border: 1px solid rgba(119, 119, 128, 0.33);
  outline: none;
}

.login__form-input--error {
  border-color: #fe664e;
}

.login__form-input::-webkit-input-placeholder {
  color: #777780;
  font-family: "Montserrat Light";
}

.login__form-input:-ms-input-placeholder {
  color: #777780;
  font-family: "Montserrat Light";
}

.login__form-input::-ms-input-placeholder {
  color: #777780;
  font-family: "Montserrat Light";
}

.login__form-input::placeholder {
  color: #777780;
  font-family: "Montserrat Light";
}

.login__form-checkbox-label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 15px;
  font-family: "Montserrat Light";
  cursor: pointer;
}

.login__form-checkbox {
  cursor: pointer;
}

.login__form-checkbox:focus {
  outline: 0;
}

.login__form-text {
  font-size: 15px;
  font-family: "Montserrat Light";
}

.login__form-link {
  font-size: 15px;
  font-family: "Montserrat Light";
}

.login__button-group {
  margin-top: 30px;
}

.login__button {
  width: 125px;
  height: 50px;
  padding-top: 5px;
  font-size: 25px;
  font-family: "Bebas Neue";
  border: 0;
  opacity: 0.7;
  cursor: pointer;
  -webkit-transition: all 0.1s linear;
  transition: all 0.1s linear;
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .login__button {
    opacity: 1;
  }
}

@media only screen and (max-width: 767px) {
  .login__button {
    opacity: 1;
  }
}

.login__button:hover {
  opacity: 1;
}

.login__button_submit {
  background-color: #64ee8a;
  color: #000000;
}

.login__error-group,
.login__status-group {
  margin-top: 20px;
}

.login__error-list,
.login__status-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.login__error {
  margin-bottom: 3px;
  color: #fe664e;
  font-size: 13px;
  font-family: "Montserrat Light";
}

.login__status {
  margin-bottom: 3px;
  color: #7cbc42;
  font-size: 13px;
  font-family: "Montserrat Light";
}

@font-face {
  font-family: 'Bebas Neue';
  src: url("/fonts/BebasNeue.woff2") format("woff2");
}

@font-face {
  font-family: 'Montserrat Light';
  src: url("/fonts/Montserrat-Light.woff2") format("woff2");
}

@font-face {
  font-family: 'Montserrat Regular';
  src: url("/fonts/Montserrat-Regular.woff2") format("woff2");
}

.register {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.register__logo {
  width: calc(100% - 400px);
  height: 100%;
  background-image: url("/images/troubadours.jpg");
  background-origin: content-box;
  background-repeat: no-repeat;
  background-size: cover;
}

.register__form {
  width: 400px;
  padding: 75px 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.register__form-title {
  width: 100%;
  margin-bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 75px;
  font-family: "Bebas Neue", Verdana;
}

.register__form-content {
  width: 275px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.register__form-group {
  margin-bottom: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.register__form-group--link {
  margin-top: 20px;
}

.register__form-subtitle {
  width: 100%;
  margin-bottom: 10px;
  font-size: 26px;
  font-family: "Bebas Neue", Verdana;
}

.register__form-input {
  width: 100%;
  height: 35px;
  padding: 5px;
  background-color: #ffffff;
  color: #000000;
  font-size: 15px;
  font-family: "Montserrat Regular";
  border: 1px solid rgba(119, 119, 128, 0.33);
  outline: none;
}

.register__form-input--error {
  border-color: #fe664e;
}

.register__form-input::-webkit-input-placeholder {
  color: #777780;
  font-family: "Montserrat Light";
}

.register__form-input:-ms-input-placeholder {
  color: #777780;
  font-family: "Montserrat Light";
}

.register__form-input::-ms-input-placeholder {
  color: #777780;
  font-family: "Montserrat Light";
}

.register__form-input::placeholder {
  color: #777780;
  font-family: "Montserrat Light";
}

.register__form-text {
  font-size: 15px;
  font-family: "Montserrat Light";
}

.register__form-link {
  font-size: 15px;
  font-family: "Montserrat Light";
}

.register__button-group {
  margin-top: 30px;
}

.register__button {
  width: 125px;
  height: 50px;
  padding-top: 5px;
  font-size: 25px;
  font-family: "Bebas Neue";
  border: 0;
  opacity: 0.7;
  cursor: pointer;
  -webkit-transition: all 0.1s linear;
  transition: all 0.1s linear;
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .register__button {
    opacity: 1;
  }
}

@media only screen and (max-width: 767px) {
  .register__button {
    opacity: 1;
  }
}

.register__button:hover {
  opacity: 1;
}

.register__button_submit {
  background-color: #64ee8a;
  color: #000000;
}

.register__error-group,
.register__status-group {
  margin-top: 20px;
}

.register__error-list,
.register__status-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.register__error {
  margin-bottom: 3px;
  color: #fe664e;
  font-size: 13px;
  font-family: "Montserrat Light";
}

.register__status {
  margin-bottom: 3px;
  color: #7cbc42;
  font-size: 13px;
  font-family: "Montserrat Light";
}

@font-face {
  font-family: 'Bebas Neue';
  src: url("/fonts/BebasNeue.woff2") format("woff2");
}

@font-face {
  font-family: 'Montserrat Light';
  src: url("/fonts/Montserrat-Light.woff2") format("woff2");
}

@font-face {
  font-family: 'Montserrat Regular';
  src: url("/fonts/Montserrat-Regular.woff2") format("woff2");
}

.email {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.email__logo {
  width: calc(100% - 400px);
  height: 100%;
  background-image: url("/images/troubadours.jpg");
  background-origin: content-box;
  background-repeat: no-repeat;
  background-size: cover;
}

.email__form {
  width: 400px;
  padding: 75px 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.email__form-title {
  width: 100%;
  margin-bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 75px;
  font-family: "Bebas Neue", Verdana;
}

.email__form-content {
  width: 275px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.email__form-group {
  margin-bottom: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.email__form-subtitle {
  width: 100%;
  margin-bottom: 10px;
  font-size: 26px;
  font-family: "Bebas Neue", Verdana;
}

.email__form-input {
  width: 100%;
  height: 35px;
  padding: 5px;
  background-color: #ffffff;
  color: #000000;
  font-size: 15px;
  font-family: "Montserrat Regular";
  border: 1px solid rgba(119, 119, 128, 0.33);
  outline: none;
}

.email__form-input--error {
  border-color: #fe664e;
}

.email__form-input::-webkit-input-placeholder {
  color: #777780;
  font-family: "Montserrat Light";
}

.email__form-input:-ms-input-placeholder {
  color: #777780;
  font-family: "Montserrat Light";
}

.email__form-input::-ms-input-placeholder {
  color: #777780;
  font-family: "Montserrat Light";
}

.email__form-input::placeholder {
  color: #777780;
  font-family: "Montserrat Light";
}

.email__button-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 30px;
}

.email__button {
  width: 125px;
  height: 50px;
  padding-top: 5px;
  font-size: 25px;
  font-family: "Bebas Neue";
  border: 0;
  opacity: 0.7;
  cursor: pointer;
  -webkit-transition: all 0.1s linear;
  transition: all 0.1s linear;
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .email__button {
    opacity: 1;
  }
}

@media only screen and (max-width: 767px) {
  .email__button {
    opacity: 1;
  }
}

.email__button:hover {
  opacity: 1;
}

.email__button_cancel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #fe664e;
  color: #000000;
  text-decoration: none;
}

.email__button_submit {
  background-color: #64ee8a;
  color: #000000;
}

.email__error-group,
.email__status-group {
  margin-top: 20px;
}

.email__error-list,
.email__status-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.email__error {
  margin-bottom: 3px;
  color: #fe664e;
  font-size: 13px;
  font-family: "Montserrat Light";
}

.email__status {
  margin-bottom: 3px;
  color: #7cbc42;
  font-size: 13px;
  font-family: "Montserrat Light";
}

@font-face {
  font-family: 'Bebas Neue';
  src: url("/fonts/BebasNeue.woff2") format("woff2");
}

@font-face {
  font-family: 'Montserrat Light';
  src: url("/fonts/Montserrat-Light.woff2") format("woff2");
}

@font-face {
  font-family: 'Montserrat Regular';
  src: url("/fonts/Montserrat-Regular.woff2") format("woff2");
}

.reset {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.reset__logo {
  width: calc(100% - 400px);
  height: 100%;
  background-image: url("/images/troubadours.jpg");
  background-origin: content-box;
  background-repeat: no-repeat;
  background-size: cover;
}

.reset__form {
  width: 400px;
  padding: 75px 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.reset__form-title {
  width: 100%;
  margin-bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 75px;
  font-family: "Bebas Neue", Verdana;
}

.reset__form-content {
  width: 275px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.reset__form-group {
  margin-bottom: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.reset__form-group--link {
  margin-top: 20px;
}

.reset__form-subtitle {
  width: 100%;
  margin-bottom: 10px;
  font-size: 26px;
  font-family: "Bebas Neue", Verdana;
}

.reset__form-input {
  width: 100%;
  height: 35px;
  padding: 5px;
  background-color: #ffffff;
  color: #000000;
  font-size: 15px;
  font-family: "Montserrat Regular";
  border: 1px solid rgba(119, 119, 128, 0.33);
  outline: none;
}

.reset__form-input--error {
  border-color: #fe664e;
}

.reset__form-input::-webkit-input-placeholder {
  color: #777780;
  font-family: "Montserrat Light";
}

.reset__form-input:-ms-input-placeholder {
  color: #777780;
  font-family: "Montserrat Light";
}

.reset__form-input::-ms-input-placeholder {
  color: #777780;
  font-family: "Montserrat Light";
}

.reset__form-input::placeholder {
  color: #777780;
  font-family: "Montserrat Light";
}

.reset__button-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 30px;
}

.reset__button {
  width: 125px;
  height: 50px;
  padding-top: 5px;
  font-size: 25px;
  font-family: "Bebas Neue";
  border: 0;
  opacity: 0.7;
  cursor: pointer;
  -webkit-transition: all 0.1s linear;
  transition: all 0.1s linear;
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .reset__button {
    opacity: 1;
  }
}

@media only screen and (max-width: 767px) {
  .reset__button {
    opacity: 1;
  }
}

.reset__button:hover {
  opacity: 1;
}

.reset__button_cancel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #fe664e;
  color: #000000;
  text-decoration: none;
}

.reset__button_submit {
  background-color: #64ee8a;
  color: #000000;
}

.reset__error-group {
  margin-top: 20px;
}

.reset__error-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.reset__error {
  margin-bottom: 3px;
  color: #fe664e;
  font-size: 13px;
  font-family: "Montserrat Light";
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-text-size-adjust: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

html {
  width: 100%;
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #CAFCD8;
  font-family: "Montserrat Regular";
}

button:focus {
  outline: 0;
}

input {
  -webkit-user-select: auto;
  -moz-user-select: auto;
  -ms-user-select: auto;
  user-select: auto;
}

#app {
  width: 100%;
  height: 100%;
}

