$debug       : false;
$time-factor : 1;

$button-transition-time : 0.1s * $time-factor;
$menu-animation-time    : 0.2s * $time-factor;

$content-margin             : 20px;
$bottom-padding             : 50px;
$bottom-padding-ios         : 44px;
$label-margin               : 20px 0 25px 0;
$header-height              : 70px;
$menu-width                 : 120px;
$menu-width-small           : 100px;
$select-arrow-wrapper-width : 45px;
