$green               : #7cbc42;
$pale-green          : rgb(100, 238, 138);
$juniper             : #6e968b;
$neon-red            : #fe664e;
$blue                : #27a9e0;
$very-dark-gray      : #363836;
$dark-gray           : #515251;
$dolphin-transparent : rgba(119,119,128, 0.33);
$dolphin             : #777780;
$light-gray          : #bfc4c0;
$very-light-gray     : #e0e2e2;
$white               : #ffffff;
$black               : #000000;
