@import './colors';
@import './fonts';
@import './settings';

$time-button-hover: 0.1s * $time-factor;

.register {
    width   : 100%;
    height  : 100%;
    display : flex;
}

.register__logo {
    width             : calc(100% - 400px);
    height            : 100%;
    background-image  : url('/images/troubadours.jpg');
    background-origin : content-box;
    background-repeat : no-repeat;
    background-size   : cover;
}

.register__form {
    width          : 400px;
    padding        : 75px 25px;
    display        : flex;
    align-items    : center;
    flex-direction : column;
}

.register__form-title {
    width                 : 100%;
    margin-bottom         : 30px;
    display               : flex;
    justify-content       : center;
    font-size             : 75px;
    font-family           : $font-title, Verdana;
    -webkit-touch-callout : none;
    -webkit-user-select   : none;
     -khtml-user-select   : none;
       -moz-user-select   : none;
        -ms-user-select   : none;
            user-select   : none;
}

.register__form-content {
    width          : 275px;
    display        : flex;
    flex-direction : column;
}

.register__form-group {
    margin-bottom   : 15px;
    display         : flex;
    align-items     : center;
}

.register__form-group--link { margin-top: 20px; }

.register__form-subtitle {
    width                 : 100%;
    margin-bottom         : 10px;
    font-size             : 26px;
    font-family           : $font-title, Verdana;
    -webkit-touch-callout : none;
    -webkit-user-select   : none;
     -khtml-user-select   : none;
       -moz-user-select   : none;
        -ms-user-select   : none;
            user-select   : none;
}

.register__form-input {
    width            : 100%;
    height           : 35px;
    padding          : 5px;
    background-color : $white;
    color            : $black;
    font-size        : 15px;
    font-family      : $font-regular;
    border           : 1px solid $dolphin-transparent;
    outline          : none;
}

.register__form-input--error { border-color: $neon-red; }

.register__form-input::placeholder {
    color                 : $dolphin;
    font-family           : $font-light;
    -webkit-touch-callout : none;
    -webkit-user-select   : none;
     -khtml-user-select   : none;
       -moz-user-select   : none;
        -ms-user-select   : none;
            user-select   : none;
}

.register__form-text {
    font-size             : 15px;
    font-family           : $font-light;
    -webkit-touch-callout : none;
    -webkit-user-select   : none;
     -khtml-user-select   : none;
       -moz-user-select   : none;
        -ms-user-select   : none;
            user-select   : none;
}

.register__form-link {
    font-size             : 15px;
    font-family           : $font-light;
    -webkit-touch-callout : none;
    -webkit-user-select   : none;
     -khtml-user-select   : none;
       -moz-user-select   : none;
        -ms-user-select   : none;
            user-select   : none;
}

.register__button-group { margin-top : 30px; }

.register__button {
    width                 : 125px;
    height                : 50px;
    padding-top           : 5px;
    font-size             : 25px;
    font-family           : $font-title;
    border                : 0;
    opacity               : 0.7;
    cursor                : pointer;
    -webkit-touch-callout : none;
    -webkit-user-select   : none;
     -khtml-user-select   : none;
       -moz-user-select   : none;
        -ms-user-select   : none;
            user-select   : none;
    transition            : all $time-button-hover linear;

    &:hover { opacity: 1; }
}

.register__button_submit {
    background-color : $pale-green;
    color            : $black;
}

.register__error-group { margin-top: 10px; }

.register__error-list {
    margin          : 0;
    padding         : 0;
    list-style-type : none;
}

.register__error {
    margin-bottom : 3px;
    color         : $neon-red;
    font-size     : 13px;
    font-family   : $font-light;
}
