@import '../variables/index';

.auth {
    width          : 100%;
    padding-bottom : $bottom-padding;
}

.auth__header {
    width            : 100%;
    height           : $header-height;
    display          : flex;
    justify-content  : center;
    align-items      : center;
    background-color : transparent;

    @include breakpoint-small-phone-landscape { height: 40px; }
}

.header__title {
    font-size : 25px;
    cursor    : pointer;
    
}

.auth__title {
    margin     : 30px 0 40px 0;
    font-size  : 40px;
    text-align : center;

    @include breakpoint-small-phone-landscape { display: none; }

}

.auth__form {
    display        : flex;
    align-items    : center;
    flex-direction : column;
}

.auth__form-content {
    width            : 100%;
    padding          : 30px 10%;
    display          : flex;
    align-items      : center;
    flex-direction   : column;
    background-color : $sunglow;

    @include breakpoint-small-phone-landscape { padding: 3px 10%; }
}

.auth__form-group {
    width         : 100%;
    margin-bottom : 20px;

    @include breakpoint-small-phone-landscape { margin-bottom: 5px;}
}

.auth__form-group--checkbox { padding-top: 10px; }

.auth__form-label-wrapper {
    margin-bottom : 5px;
    padding-left  : 2px;
}

.auth__form-label {
    color         : $kumera;
    font-size     : 15px;
}

.auth__form-input {
    width                 : 100%;
    height                : 50px;
    padding               : 0 10px;
    border                : none;
    -webkit-border-radius : 0;
    border-radius         : 0;
    caret-color           : $black;
    background-color      : $golden-tainoi;
    color                 : $black;
    font-size             : 18px;
    font-family           : $font-bold, sans-serif;
    outline               : none;
    -webkit-user-select   : auto;
    -moz-user-select      : auto;
    -ms-user-select       : auto;
    user-select           : auto;

    &:-webkit-autofill,
    &:-webkit-autofill:hover,
    &:-webkit-autofill:focus { -webkit-box-shadow: 0 0 0 100px $golden-tainoi inset !important; }

    @include breakpoint-small-phone-landscape { height: 33px; }
}

.auth__form-checkbox-label {
    position  : relative;
    padding   : 4px 0 0 35px;
    font-size : 15px;
    cursor    : pointer;

    &:hover .auth__form-checkbox-checkmark { background-color: $golden-tainoi; }

    @include breakpoint-small-phone-landscape { font-size: 13px; }
}

.auth__form-checkbox {
    position : absolute;
    display  : none;
    cursor   : pointer;

    &:checked ~ .auth__form-checkbox-checkmark {
        background-color: $golden-tainoi;

        &:after { opacity: 1; }
    }
}

.auth__form-checkbox-checkmark {
    position         : absolute;
    top              : 0;
    left             : 0;
    height           : 25px;
    width            : 25px;
    background-color : $golden-tainoi;
    transition       : background-color $button-transition-time linear;

    &:after {
        content           : '';
        position          : absolute;
        left              : 9px;
        top               : 5px;
        width             : 5px;
        height            : 10px;
        border-width      : 0 3px 3px 0;
        border-style      : solid;
        border-color      : $black;
        -webkit-transform : rotate(45deg);
        -ms-transform     : rotate(45deg);
        transform         : rotate(45deg);
        opacity           : 0;
        transition        : opacity $button-transition-time linear;
    }
}

.auth__error-group, .auth__status-group {
    margin-top : 30px;
    padding    : 0 30px;
}

.auth__error-list, .auth__status-list {
    margin          : 0;
    padding         : 0;
    list-style-type : none;
}

.auth__error {
    margin-bottom : 3px;
    color         : $cabaret;
    font-size     : 14px;
}

.auth__status {
    margin-bottom : 3px;
    color         : $killarney;
    font-size     : 14px;
}

.auth__button {
    position   : relative;
    width      : 175px;
    height     : 50px;
    margin     : 30px 0 40px 0;
    cursor     : pointer;
    transition : filter $button-transition-time linear;

    &:hover { filter: brightness(0.85); }

    @include breakpoint-small-phone-landscape { 
        width: 133px;
        height: 36px;
        margin-top: 8px;
    }
    
}

.auth__button-hollow {
    position        : absolute;
    width           : 100%;
    height          : 100%;
    border          : 3px solid $black;
    border-radius   : 6px;
    display         : flex;
    align-items     : center;
    justify-content : center;
    z-index         : 1;
}

.auth__button-full {
    position         : absolute;
    top              : 6px;
    left             : 6px;
    width            : 100%;
    height           : 100%;
    border-radius    : 6px;
    background-color : $jaffa;
}

.auth__links {
    width          : 100%;
    display        : flex;
    align-items    : center;
    flex-direction : column;
}

.auth__link-group {
    margin-bottom: 30px;
    text-align: center;
}

.auth__link {
    text-decoration: underline;

    &:link, &:visited, &:hover, &:active { color: $black; }
}
